# Ignorar archivo con tokens e IDs sensibles
claves.py
constantes_pull.py
style.css

# Ignorar archivos zip
*.zip

# Ignorar carpetas , pycache y archivos compilados de Python
_site
__pycache__/
*.pyc

# Ignorar entornos virtuales
venv/
.env/

# Ignorar archivos de sistema macOS y Windows
.DS_Store
Thumbs.db

# Ignorar archivos de logs y temporales
*.log
*.tmp
