/* ============================
   IMAGENES POR DEFECTO
=============================== */

#banner {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}


/* ============================
   CONJUNTO DE IMÁGENES DE LAS 3 BADGES
=============================== */

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-row img {
  width: 325px;
  height: auto;
  border-radius: 10px;
}










