main.main {
  flex: 1;
  margin-left: calc(var(--sidebar-width) + var(--sidebar-margin-left));
  margin-right: var(--sidebar-margin-right);
  padding: 40px 20px;
  transition: margin-left 0.8s ease;
  box-sizing: border-box;
}

.sidebar.hidden ~ .main {
  margin-left: var(--sidebar-margin-right);
  padding: 40px 20px;
}

.enlace-destacado {
  font-weight: bold;
  color: #FF007A;
  text-decoration: underline;
  transition: color 0.3s;
}

.enlace-destacado:hover {
  color: #ff338f; // tono más claro o animado al pasar el ratón
}
