:root {
  --sidebar-width: 250px;
  --sidebar-margin-right: 80px;
  --sidebar-margin-left: 75px;
  --toggle-visible: calc(var(--sidebar-width) + 25px);
  --toggle-hidden: 25px;
  --bg-card:   #2a2a2a;
  --primary:   #ff007a;
  --text-main: #f2f2f2;
  --text-sec:  #b3b3b3;
  --shadow:    rgba(255, 0, 122, 0.4);
  
}

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;  


@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  }
}

